@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Name"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @{
        var name = "ABC";
        var marks = 90;
    }
    <p>Name:@name</p>
    <p>Marks: @marks</p>
</div>
